/* Algemene Opmaak */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  user-select: none;

}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #000000;
  overflow-x: hidden;
  /* Voorkomt horizontale scroll */
}

/* Header Sectie */
.kop {
  text-align: center;
  padding: 60px 0;
  color: #fff;
  height: 100vh;
  /* 100% van de viewport hoogte */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("coding-background.jpg");
  background-size: cover;
}


.kop h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.kop p {
  font-size: 1.2rem;
  color: #ffffff;
}

.navigatie a {
  margin: 0 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.navigatie a:hover {
  color: #505050;
}

/* Over Mij Sectie */
.over-mij {
  height: 40vh;
  /* 100% van de viewport hoogte */
  padding: 20px 10px;
  margin: 0 auto;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  text-align: left;

}

.over-mij img {
  width: 300px;
  border-radius: 5%;
  position: relative;
  left: 1200px;
  top: -160px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.over-mij p {
  position: relative;
  font-size: 16px;
  top: 30px;
  text-align: left;
}

.over-mij h2 {
  color: #444;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  top: 25px;
}

/* Werkervaring Sectie */

/* Vaardigheden Sectie */
.vaardigheden {
  height: 100vh;
  /* 100% van de viewport hoogte */
  padding: 20px;
  background-color: #ffffff;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vaardigheden h2 {
  color: #444;
  margin-bottom: 20px;
}

.vaardigheid-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.vaardigheid-set span {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  color: #333;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 0.9rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.vaardigheid-set span img {
  width: 40px;
  /* Aangepaste grootte voor afbeeldingen */
  height: auto;
  margin-right: 8px;
}

/* Projecten Sectie */
.projecten {
  height: 100vh;
  /* 100% van de viewport hoogte */
  padding: 20px;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projecten img {
  box-shadow: 0 0 5px rgba(135, 135, 135, 3.3);
}

.projecten h2 {
  color: #444;
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
  position: relative;
  top: 0px;
  left: 675px;
}

.project {
  margin-bottom: 20px;
  position: relative;
  top: 200px;
  left: -150px;
  text-align: center;
}

.project h3 {
  font-size: 2rem;
  color: #333;
}

.project p {
  color: #888;
}

.project-buttons {
  margin-top: 10px;
}

.project-link {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 16px;
  color: #fff;
  background-color: #000000;
  border-radius: 4px;
  text-decoration: none;
}

.project-link:hover {
  background-color: #333;
}

.github-button {
  background-color: #5e5e5e;
}

.github-button:hover {
  background-color: #333;
}


/* Contact Sectie */
footer.contact {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer span img {
  width: 5vw;
  /* Aangepaste grootte voor afbeeldingen */
  height: auto;
  margin-right: 8px;
}

footer.contact a {
  color: #fff;
  text-decoration: none;
}

footer.contact span {
  position: relative;
  /* Ensures links are positioned above other elements */
  z-index: 10;
}

footer.contact a:hover {
  text-decoration: underline;
}